.c15t-consent-manager-widget {
	isolation: isolate;

	/* css reset */
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */

	/* Colors */
	--c15t-cmw-stroke-soft-200: hsl(0, 0%, 92.16%);
	--c15t-cmw-branding-link-color: #47c2ff;
	--c15t-link-text-color: hsl(0, 0%, 9.02%);

	& > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(1.5rem /* 24px */ * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(1.5rem /* 24px */ * var(--tw-space-y-reverse));
	}
}

.dark .c15t-consent-manager-dialog-card {
	--c15t-cmw-stroke-soft-200: hsl(0, 0%, 20%);
	--c15t-link-text-color: hsl(0, 0%, 90%);
}

.c15t-consent-manager-widget .c15t-accordion-trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	& .c15t-accordion-trigger-sub-group {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.c15t-consent-manager-widget-footer {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	@media (min-width: 640px) {
		flex-direction: row;
	}
}

.c15t-consent-manager-widget-footer-sub-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem /* 16px */;
}

@media (max-width: 640px) {
	.c15t-button, {
		width: 100%;
	}
}

.c15t-consent-manager-widget-branding {
	display: flex;
	justify-content: center;
	width: 100%;
	border-top-width: 1px;
	border-top-color: var(--c15t-cmw-stroke-soft-200);
	padding-top: 1rem;
}

.c15t-consent-manager-widget-branding-link {
	color: var(--c15t-link-text-color);
	text-decoration: none;
	text-align: center;
  flex-direction: row;
  display: flex;
  flex:1;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.c15t-consent-manager-widget-branding-link svg {
  height: 1.2rem;
}