.kf-consent-manager-widget {
    isolation: isolate;

     /* css reset */
    font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */

	/* Colors */
	--kf-cmw-stroke-soft-200: hsl(0, 0%, 92.16%);
	--kf-cmw-branding-link-color: #47c2ff;
  --kf-link-text-color: hsl(0, 0%, 9.02%);

	& > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(1.5rem /* 24px */ * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(1.5rem /* 24px */ * var(--tw-space-y-reverse));
	}
}

.dark .kf-consent-manager-widget {
  --kf-cmw-stroke-soft-200: hsl(0, 0%, 20%);
  --kf-link-text-color: hsl(0, 0%, 90%);
}

.kf-consent-manager-widget .kf-accordion-trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	& .kf-accordion-trigger-sub-group {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.kf-consent-manager-widget-footer {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	@media (min-width: 640px) {
		flex-direction: row;
	}
}

.kf-consent-manager-widget-footer-sub-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem /* 16px */;
}
@media (max-width: 640px) {
	.kf-button, {
		width: 100%;
	}
}

.kf-consent-manager-widget-branding {
	display: flex;
	justify-content: center;
	width: 100%;
	border-top-width: 1px;
	border-top-color: var(--kf-cmw-stroke-soft-200);
	padding-top: 1rem;
}

.kf-consent-manager-widget-branding-link {
  color: var(--kf-link-text-color);
	text-decoration: none;
	text-align: center;
}

.kf-consent-manager-widget-branding-link-span {
	color: var(--kf-cmw-branding-link-color);
}
