:root {
	--kf-gray-950: 0 0% 9.02%;
	--kf-gray-900: 0 0% 10.98%;
	--kf-gray-800: 0 0% 16.08%;
	--kf-gray-700: 0 0% 20%;
	--kf-gray-600: 0 0% 36.08%;
	--kf-gray-500: 0 0% 48.24%;
	--kf-gray-400: 0 0% 63.92%;
	--kf-gray-300: 0 0% 81.96%;
	--kf-gray-200: 0 0% 92.16%;
	--kf-gray-100: 0 0% 96.08%;
	--kf-gray-50: 0 0% 96.86%;
	--kf-gray-0: 0 0% 100%;

	--kf-gray-alpha-24: 0 0% 63.92% / 24%;
	--kf-gray-alpha-16: 0 0% 63.92% / 16%;
	--kf-gray-alpha-10: 0 0% 63.92% / 10%;

	--kf-slate-950: 221.54 31.71% 8.04%;
	--kf-slate-900: 226.15 21.31% 11.96%;
	--kf-slate-800: 227.14 17.07% 16.08%;
	--kf-slate-700: 221.25 15.69% 20%;
	--kf-slate-600: 222 10.87% 36.08%;
	--kf-slate-500: 221.05 7.76% 48.04%;
	--kf-slate-400: 220 11.48% 64.12%;
	--kf-slate-300: 218.57 15.22% 81.96%;
	--kf-slate-200: 220 17.65% 90%;
	--kf-slate-100: 210 30% 96.08%;
	--kf-slate-50: 216 33.33% 97.06%;
	--kf-slate-0: 0 0% 100%;

	--kf-slate-alpha-24: 220 11.48% 64.12% / 24%;
	--kf-slate-alpha-16: 220 11.48% 64.12% / 16%;
	--kf-slate-alpha-10: 220 11.48% 64.12% / 10%;

	--kf-neutral-950: var(--kf-gray-950);
	--kf-neutral-900: var(--kf-gray-900);
	--kf-neutral-800: var(--kf-gray-800);
	--kf-neutral-700: var(--kf-gray-700);
	--kf-neutral-600: var(--kf-gray-600);
	--kf-neutral-500: var(--kf-gray-500);
	--kf-neutral-400: var(--kf-gray-400);
	--kf-neutral-300: var(--kf-gray-300);
	--kf-neutral-200: var(--kf-gray-200);
	--kf-neutral-100: var(--kf-gray-100);
	--kf-neutral-50: var(--kf-gray-50);
	--kf-neutral-0: var(--kf-gray-0);

	--kf-neutral-alpha-24: var(--kf-gray-alpha-24);
	--kf-neutral-alpha-16: var(--kf-gray-alpha-16);
	--kf-neutral-alpha-10: var(--kf-gray-alpha-10);

	--kf-blue-950: 228.14 70.49% 23.92%;
	--kf-blue-900: 228 70.55% 31.96%;
	--kf-blue-800: 228.17 69.61% 40%;
	--kf-blue-700: 228.07 69.8% 48.04%;
	--kf-blue-600: 228 80.36% 56.08%;
	--kf-blue-500: 227.94 100% 60%;
	--kf-blue-400: 222.12 100% 70.39%;
	--kf-blue-300: 219.81 100% 79.61%;
	--kf-blue-200: 220 100% 87.65%;
	--kf-blue-100: 221.43 100% 91.76%;
	--kf-blue-50: 222 100% 96.08%;

	--kf-blue-alpha-24: 227.93 100% 63.92% / 24%;
	--kf-blue-alpha-16: 227.93 100% 63.92% / 16%;
	--kf-blue-alpha-10: 227.93 100% 63.92% / 10%;

	--kf-orange-950: 23.88 83.74% 24.12%;
	--kf-orange-900: 24.09 84.05% 31.96%;
	--kf-orange-800: 24.07 83.92% 39.02%;
	--kf-orange-700: 24.26 83.93% 43.92%;
	--kf-orange-600: 24 83.67% 48.04%;
	--kf-orange-500: 24 95.74% 53.92%;
	--kf-orange-400: 23.84 100% 70.39%;
	--kf-orange-300: 24.23 100% 79.61%;
	--kf-orange-200: 23.81 100% 87.65%;
	--kf-orange-100: 24.29 100% 91.76%;
	--kf-orange-50: 24 100% 96.08%;

	--kf-orange-alpha-24: 24.13 100% 63.92% / 24%;
	--kf-orange-alpha-16: 24.13 100% 63.92% / 16%;
	--kf-orange-alpha-10: 24.13 100% 63.92% / 10%;

	--kf-red-950: 355.12 70.49% 23.92%;
	--kf-red-900: 354.78 70.55% 31.96%;
	--kf-red-800: 354.93 69.61% 40%;
	--kf-red-700: 355.09 69.8% 48.04%;
	--kf-red-600: 355 80.36% 56.08%;
	--kf-red-500: 354.8 96.08% 60%;
	--kf-red-400: 354.83 100% 70.39%;
	--kf-red-300: 354.81 100% 79.61%;
	--kf-red-200: 355.24 100% 87.65%;
	--kf-red-100: 355.71 100% 91.76%;
	--kf-red-50: 357 100% 96.08%;

	--kf-red-alpha-24: 354.8 96.08% 60% / 24%;
	--kf-red-alpha-16: 354.8 96.08% 60% / 16%;
	--kf-red-alpha-10: 354.8 96.08% 60% / 10%;

	--kf-green-950: 148.47 72.84% 15.88%;
	--kf-green-900: 148.46 63.93% 23.92%;
	--kf-green-800: 147.69 63.64% 28.04%;
	--kf-green-700: 148.21 71.78% 31.96%;
	--kf-green-600: 147.95 71.57% 40%;
	--kf-green-500: 148.15 72.32% 43.92%;
	--kf-green-400: 147.78 72.32% 56.08%;
	--kf-green-300: 147.96 72.03% 71.96%;
	--kf-green-200: 148.24 71.83% 86.08%;
	--kf-green-100: 154.88 84.31% 90%;
	--kf-green-50: 147.69 72.22% 92.94%;

	--kf-green-alpha-24: 148.15 72.32% 43.92% / 24%;
	--kf-green-alpha-16: 148.15 72.32% 43.92% / 16%;
	--kf-green-alpha-10: 148.15 72.32% 43.92% / 10%;

	--kf-yellow-950: 42.16 60.66% 23.92%;
	--kf-yellow-900: 41.71 64.42% 31.96%;
	--kf-yellow-800: 42 63.73% 40%;
	--kf-yellow-700: 42.04 64.08% 48.04%;
	--kf-yellow-600: 41.85 80.39% 50%;
	--kf-yellow-500: 41.94 92.31% 54.12%;
	--kf-yellow-400: 42.12 100% 70.39%;
	--kf-yellow-300: 42.12 100% 79.61%;
	--kf-yellow-200: 41.9 100% 87.65%;
	--kf-yellow-100: 41.18 100% 90%;
	--kf-yellow-50: 43.9 100% 91.96%;

	--kf-yellow-alpha-24: 41.93 95.65% 63.92% / 24%;
	--kf-yellow-alpha-16: 41.93 95.65% 63.92% / 16%;
	--kf-yellow-alpha-10: 41.93 95.65% 63.92% / 10%;

	--kf-purple-950: 257.8 63.64% 28.04%;
	--kf-purple-900: 258.29 64.42% 31.96%;
	--kf-purple-800: 258 63.73% 40%;
	--kf-purple-700: 257.96 64.08% 48.04%;
	--kf-purple-600: 255.93 72.32% 56.08%;
	--kf-purple-500: 255.93 88.04% 63.92%;
	--kf-purple-400: 252.18 88.08% 70.39%;
	--kf-purple-300: 249.81 100% 79.61%;
	--kf-purple-200: 249.52 100% 87.65%;
	--kf-purple-100: 250 100% 91.76%;
	--kf-purple-50: 252 100% 96.08%;

	--kf-purple-alpha-24: 255.93 83.51% 61.96% / 24%;
	--kf-purple-alpha-16: 255.93 83.51% 61.96% / 16%;
	--kf-purple-alpha-10: 255.93 83.51% 61.96% / 10%;

	--kf-sky-950: 200.23 70.49% 23.92%;
	--kf-sky-900: 199.83 70.55% 31.96%;
	--kf-sky-800: 199.86 69.61% 40%;
	--kf-sky-700: 200 69.8% 48.04%;
	--kf-sky-600: 200 80.36% 56.08%;
	--kf-sky-500: 199.89 100% 63.92%;
	--kf-sky-400: 199.87 100% 70.39%;
	--kf-sky-300: 200.19 100% 79.61%;
	--kf-sky-200: 200 100% 87.65%;
	--kf-sky-100: 200 100% 91.76%;
	--kf-sky-50: 201 100% 96.08%;

	--kf-sky-alpha-24: 199.89 100% 63.92% / 24%;
	--kf-sky-alpha-16: 199.89 100% 63.92% / 16%;
	--kf-sky-alpha-10: 199.89 100% 63.92% / 10%;

	--kf-pink-950: 330 70.49% 23.92%;
	--kf-pink-900: 329.74 70.55% 31.96%;
	--kf-pink-800: 330 69.61% 40%;
	--kf-pink-700: 330.18 69.8% 48.04%;
	--kf-pink-600: 330 80.36% 56.08%;
	--kf-pink-500: 330 95.65% 63.92%;
	--kf-pink-400: 330.2 100% 70.39%;
	--kf-pink-300: 330 100% 79.61%;
	--kf-pink-200: 330.48 100% 87.65%;
	--kf-pink-100: 330 100% 91.76%;
	--kf-pink-50: 333 100% 96.08%;

	--kf-pink-alpha-24: 330 95.65% 63.92% / 24%;
	--kf-pink-alpha-16: 330 95.65% 63.92% / 16%;
	--kf-pink-alpha-10: 330 95.65% 63.92% / 10%;

	--kf-teal-950: 171.86 72.84% 15.88%;
	--kf-teal-900: 172.31 63.93% 23.92%;
	--kf-teal-800: 172.09 63.64% 28.04%;
	--kf-teal-700: 172.31 71.78% 31.96%;
	--kf-teal-600: 172.19 71.57% 40%;
	--kf-teal-500: 171.86 72.24% 48.04%;
	--kf-teal-400: 172.08 70.67% 55.88%;
	--kf-teal-300: 171.84 72.03% 71.96%;
	--kf-teal-200: 171.76 71.83% 86.08%;
	--kf-teal-100: 171.63 84.31% 90%;
	--kf-teal-50: 172.17 74.19% 93.92%;

	--kf-teal-alpha-24: 171.86 72.24% 48.04% / 24%;
	--kf-teal-alpha-16: 171.86 72.24% 48.04% / 16%;
	--kf-teal-alpha-10: 171.86 72.24% 48.04% / 10%;

	--kf-white-alpha-24: 0 0% 100% / 24%;
	--kf-white-alpha-16: 0 0% 100% / 16%;
	--kf-white-alpha-10: 0 0% 100% / 10%;

	--kf-black-alpha-24: 0 0% 0% / 24%;
	--kf-black-alpha-16: 0 0% 0% / 16%;
	--kf-black-alpha-10: 0 0% 0% / 10%;

	--kf-overlay-gray: 0 0% 20% / 24%;
	--kf-overlay-slate: 221.25 15.69% 20% / 24%;

	--kf-overlay: var(--kf-overlay-gray);

	--kf-social-apple: 0 0% 0%;
	--kf-social-twitter: 0 0% 0.39%;
	--kf-social-github: 212.73 13.25% 16.27%;
	--kf-social-notion: 210 11.76% 13.33%;
	--kf-social-tidal: 0 0% 0%;
	--kf-social-amazon: 210 14.52% 24.31%;
	--kf-social-zendesk: 46.67 25.71% 6.86%;

	--kf-primary-dark: var(--kf-blue-800);
	--kf-primary-darker: var(--kf-blue-700);
	--kf-primary-base: var(--kf-blue-500);
	--kf-primary-alpha-24: var(--kf-blue-alpha-24);
	--kf-primary-alpha-16: var(--kf-blue-alpha-16);
	--kf-primary-alpha-10: var(--kf-blue-alpha-10);

	--kf-static-black: var(--kf-neutral-950);
	--kf-static-white: var(--kf-neutral-0);

	--kf-bg-strong-950: var(--kf-neutral-950);
	--kf-bg-surface-800: var(--kf-neutral-800);
	--kf-bg-sub-300: var(--kf-neutral-300);
	--kf-bg-soft-200: var(--kf-neutral-200);
	--kf-bg-weak-50: var(--kf-neutral-50);
	--kf-bg-white-0: var(--kf-neutral-0);

	--kf-text-strong-950: var(--kf-neutral-950);
	--kf-text-sub-600: var(--kf-neutral-600);
	--kf-text-soft-400: var(--kf-neutral-400);
	--kf-text-disabled-300: var(--kf-neutral-300);
	--kf-text-white-0: var(--kf-neutral-0);

	--kf-stroke-strong-950: var(--kf-neutral-950);
	--kf-stroke-sub-300: var(--kf-neutral-300);
	--kf-stroke-soft-200: var(--kf-neutral-200);
	--kf-stroke-white-0: var(--kf-neutral-0);

	--kf-faded-dark: var(--kf-neutral-800);
	--kf-faded-base: var(--kf-neutral-500);
	--kf-faded-light: var(--kf-neutral-200);
	--kf-faded-lighter: var(--kf-neutral-100);

	--kf-information-dark: var(--kf-blue-950);
	--kf-information-base: var(--kf-blue-500);
	--kf-information-light: var(--kf-blue-200);
	--kf-information-lighter: var(--kf-blue-50);

	--kf-warning-dark: var(--kf-orange-950);
	--kf-warning-base: var(--kf-orange-500);
	--kf-warning-light: var(--kf-orange-200);
	--kf-warning-lighter: var(--kf-orange-50);

	--kf-error-dark: var(--kf-red-950);
	--kf-error-base: var(--kf-red-500);
	--kf-error-light: var(--kf-red-200);
	--kf-error-lighter: var(--kf-red-50);

	--kf-success-dark: var(--kf-green-950);
	--kf-success-base: var(--kf-green-500);
	--kf-success-light: var(--kf-green-200);
	--kf-success-lighter: var(--kf-green-50);

	--kf-away-dark: var(--kf-yellow-950);
	--kf-away-base: var(--kf-yellow-500);
	--kf-away-light: var(--kf-yellow-200);
	--kf-away-lighter: var(--kf-yellow-50);

	--kf-feature-dark: var(--kf-purple-950);
	--kf-feature-base: var(--kf-purple-500);
	--kf-feature-light: var(--kf-purple-200);
	--kf-feature-lighter: var(--kf-purple-50);

	--kf-verified-dark: var(--kf-sky-950);
	--kf-verified-base: var(--kf-sky-500);
	--kf-verified-light: var(--kf-sky-200);
	--kf-verified-lighter: var(--kf-sky-50);

	--kf-highlighted-dark: var(--kf-pink-950);
	--kf-highlighted-base: var(--kf-pink-500);
	--kf-highlighted-light: var(--kf-pink-200);
	--kf-highlighted-lighter: var(--kf-pink-50);

	--kf-stable-dark: var(--kf-teal-950);
	--kf-stable-base: var(--kf-teal-500);
	--kf-stable-light: var(--kf-teal-200);
	--kf-stable-lighter: var(--kf-teal-50);
}

.dark {
	--kf-bg-strong-950: var(--kf-neutral-0);
	--kf-bg-surface-800: var(--kf-neutral-200);
	--kf-bg-sub-300: var(--kf-neutral-600);
	--kf-bg-soft-200: var(--kf-neutral-700);
	--kf-bg-weak-50: var(--kf-neutral-900);
	--kf-bg-white-0: var(--kf-neutral-950);

	--kf-text-strong-950: var(--kf-neutral-0);
	--kf-text-sub-600: var(--kf-neutral-400);
	--kf-text-soft-400: var(--kf-neutral-500);
	--kf-text-disabled-300: var(--kf-neutral-600);
	--kf-text-white-0: var(--kf-neutral-950);

	--kf-stroke-strong-950: var(--kf-neutral-0);
	--kf-stroke-sub-300: var(--kf-neutral-600);
	--kf-stroke-soft-200: var(--kf-neutral-700);
	--kf-stroke-white-0: var(--kf-neutral-950);

	--kf-faded-dark: var(--kf-neutral-300);
	--kf-faded-base: var(--kf-neutral-500);
	--kf-faded-light: var(--kf-neutral-alpha-24);
	--kf-faded-lighter: var(--kf-neutral-alpha-16);

	--kf-information-dark: var(--kf-blue-400);
	--kf-information-base: var(--kf-blue-500);
	--kf-information-light: var(--kf-blue-alpha-24);
	--kf-information-lighter: var(--kf-blue-alpha-16);

	--kf-warning-dark: var(--kf-orange-400);
	--kf-warning-base: var(--kf-orange-600);
	--kf-warning-light: var(--kf-orange-alpha-24);
	--kf-warning-lighter: var(--kf-orange-alpha-16);

	--kf-error-dark: var(--kf-red-400);
	--kf-error-base: var(--kf-red-600);
	--kf-error-light: var(--kf-red-alpha-24);
	--kf-error-lighter: var(--kf-red-alpha-16);

	--kf-success-dark: var(--kf-green-400);
	--kf-success-base: var(--kf-green-600);
	--kf-success-light: var(--kf-green-alpha-24);
	--kf-success-lighter: var(--kf-green-alpha-16);

	--kf-away-dark: var(--kf-yellow-400);
	--kf-away-base: var(--kf-yellow-600);
	--kf-away-light: var(--kf-yellow-alpha-24);
	--kf-away-lighter: var(--kf-yellow-alpha-16);

	--kf-feature-dark: var(--kf-purple-400);
	--kf-feature-base: var(--kf-purple-500);
	--kf-feature-light: var(--kf-purple-alpha-24);
	--kf-feature-lighter: var(--kf-purple-alpha-16);

	--kf-verified-dark: var(--kf-sky-400);
	--kf-verified-base: var(--kf-sky-600);
	--kf-verified-light: var(--kf-sky-alpha-24);
	--kf-verified-lighter: var(--kf-sky-alpha-16);

	--kf-highlighted-dark: var(--kf-pink-400);
	--kf-highlighted-base: var(--kf-pink-600);
	--kf-highlighted-light: var(--kf-pink-alpha-24);
	--kf-highlighted-lighter: var(--kf-pink-alpha-16);

	--kf-stable-dark: var(--kf-teal-400);
	--kf-stable-base: var(--kf-teal-600);
	--kf-stable-light: var(--kf-teal-alpha-24);
	--kf-stable-lighter: var(--kf-teal-alpha-16);

	--kf-overlay-gray: 0 0% 20% / 56%;
	--kf-overlay-slate: 221.25 15.69% 20% / 56%;

	--kf-overlay: var(--kf-overlay-gray);

	--kf-social-apple: 0 0% 100%;
	--kf-social-twitter: 0 0% 100%;
	--kf-social-github: 0 0% 100%;
	--kf-social-notion: 0 0% 100%;
	--kf-social-tidal: 0 0% 100%;
	--kf-social-amazon: 0 0% 100%;
	--kf-social-zendesk: 0 0% 100%;
}
