
.kf-consent-manager-dialog-root{
  isolation: isolate;
  /* css reset */
  font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */

  margin: 0;
  padding: 0;
  border: 0;
  background: none;


  	/* Colors */
	--kf-cmw-stroke-soft-200: hsl(0, 0%, 92.16%);
	--kf-cmw-branding-link-color: #47c2ff;
  --kf-link-text-color: hsl(0, 0%, 9.02%);
}

.kf-consent-manager-dialog-card .kf-consent-manager-widget-branding {
	margin-left: -22px;
	margin-right: -22px;
	width: auto;
}

.dark .kf-consent-manager-dialog-root {
	--kf-cmw-stroke-soft-200: hsl(0, 0%, 20%);
	--kf-link-text-color: hsl(0, 0%, 90%);
}

.kf-consent-manager-dialog-card .kf-card-header {
	position: relative;
}

.kf-consent-manager-dialog-header-close {
	position: absolute;
	right: 22px;
	top: 22px;
}

.kf-consent-manager-dialog-root {
	--kf-card-padding: 1.5rem;
	--kf-card-radius: 1.25rem;
	--kf-card-gap: 0.375rem;

	position: fixed;
	inset: 0px;
	z-index: 999999999;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--kf-card-radius);
	background: transparent;
	width: 100%;
	height: 80%;
}

.kf-consent-manager-dialog-container {
	width: 100%;
	max-width: 28rem /* 448px */;
	margin-left: auto;
	margin-right: auto;
}

.kf-consent-manager-dialog-card .kf-card-footer {
	justify-content: center;
	font-size: 14px;
	padding-top: 1rem;
	padding-bottom: 1rem;
  border-top: solid 1px var(--kf-cmw-stroke-soft-200);
}

.kf-consent-manager-overlay {
  color: var(--kf-link-text-color);
	position: fixed;
	inset: 0px;
	background-color: rgb(0 0 0 / 0.5);
	z-index: 999999998;
}


