@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*#region Colors */
  :root {
    --fuma--primary: 199.89 100% 63.92;
    --gray-950: 0 0% 9.02%;
    --gray-900: 0 0% 10.98%;
    --gray-800: 0 0% 16.08%;
    --gray-700: 0 0% 20%;
    --gray-600: 0 0% 36.08%;
    --gray-500: 0 0% 48.24%;
    --gray-400: 0 0% 63.92%;
    --gray-300: 0 0% 81.96%;
    --gray-200: 0 0% 92.16%;
    --gray-100: 0 0% 96.08%;
    --gray-50: 0 0% 96.86%;
    --gray-0: 0 0% 100%;

    --gray-alpha-24: 0 0% 63.92% / 24%;
    --gray-alpha-16: 0 0% 63.92% / 16%;
    --gray-alpha-10: 0 0% 63.92% / 10%;
    
    --slate-950: 221.54 31.71% 8.04%;
    --slate-900: 226.15 21.31% 11.96%;
    --slate-800: 227.14 17.07% 16.08%;
    --slate-700: 221.25 15.69% 20%;
    --slate-600: 222 10.87% 36.08%;
    --slate-500: 221.05 7.76% 48.04%;
    --slate-400: 220 11.48% 64.12%;
    --slate-300: 218.57 15.22% 81.96%;
    --slate-200: 220 17.65% 90%;
    --slate-100: 210 30% 96.08%;
    --slate-50: 216 33.33% 97.06%;
    --slate-0: 0 0% 100%;

    --slate-alpha-24: 220 11.48% 64.12% / 24%;
    --slate-alpha-16: 220 11.48% 64.12% / 16%;
    --slate-alpha-10: 220 11.48% 64.12% / 10%;

    --neutral-950: var(--gray-950);
    --neutral-900: var(--gray-900);
    --neutral-800: var(--gray-800);
    --neutral-700: var(--gray-700);
    --neutral-600: var(--gray-600);
    --neutral-500: var(--gray-500);
    --neutral-400: var(--gray-400);
    --neutral-300: var(--gray-300);
    --neutral-200: var(--gray-200);
    --neutral-100: var(--gray-100);
    --neutral-50: var(--gray-50);
    --neutral-0: var(--gray-0);

    --neutral-alpha-24: var(--gray-alpha-24);
    --neutral-alpha-16: var(--gray-alpha-16);
    --neutral-alpha-10: var(--gray-alpha-10);

    --blue-950: 228.14 70.49% 23.92%;
    --blue-900: 228 70.55% 31.96%;
    --blue-800: 228.17 69.61% 40%;
    --blue-700: 228.07 69.8% 48.04%;
    --blue-600: 228 80.36% 56.08%;
    --blue-500: 227.94 100% 60%;
    --blue-400: 222.12 100% 70.39%;
    --blue-300: 219.81 100% 79.61%;
    --blue-200: 220 100% 87.65%;
    --blue-100: 221.43 100% 91.76%;
    --blue-50: 222 100% 96.08%;

    --blue-alpha-24: 227.93 100% 63.92% / 24%;
    --blue-alpha-16: 227.93 100% 63.92% / 16%;
    --blue-alpha-10: 227.93 100% 63.92% / 10%;

    --orange-950: 23.88 83.74% 24.12%;
    --orange-900: 24.09 84.05% 31.96%;
    --orange-800: 24.07 83.92% 39.02%;
    --orange-700: 24.26 83.93% 43.92%;
    --orange-600: 24 83.67% 48.04%;
    --orange-500: 24 95.74% 53.92%;
    --orange-400: 23.84 100% 70.39%;
    --orange-300: 24.23 100% 79.61%;
    --orange-200: 23.81 100% 87.65%;
    --orange-100: 24.29 100% 91.76%;
    --orange-50: 24 100% 96.08%;

    --orange-alpha-24: 24.13 100% 63.92% / 24%;
    --orange-alpha-16: 24.13 100% 63.92% / 16%;
    --orange-alpha-10: 24.13 100% 63.92% / 10%;

    --red-950: 355.12 70.49% 23.92%;
    --red-900: 354.78 70.55% 31.96%;
    --red-800: 354.93 69.61% 40%;
    --red-700: 355.09 69.8% 48.04%;
    --red-600: 355 80.36% 56.08%;
    --red-500: 354.8 96.08% 60%;
    --red-400: 354.83 100% 70.39%;
    --red-300: 354.81 100% 79.61%;
    --red-200: 355.24 100% 87.65%;
    --red-100: 355.71 100% 91.76%;
    --red-50: 357 100% 96.08%;

    --red-alpha-24: 354.8 96.08% 60% / 24%;
    --red-alpha-16: 354.8 96.08% 60% / 16%;
    --red-alpha-10: 354.8 96.08% 60% / 10%;

    --green-950: 148.47 72.84% 15.88%;
    --green-900: 148.46 63.93% 23.92%;
    --green-800: 147.69 63.64% 28.04%;
    --green-700: 148.21 71.78% 31.96%;
    --green-600: 147.95 71.57% 40%;
    --green-500: 148.15 72.32% 43.92%;
    --green-400: 147.78 72.32% 56.08%;
    --green-300: 147.96 72.03% 71.96%;
    --green-200: 148.24 71.83% 86.08%;
    --green-100: 154.88 84.31% 90%;
    --green-50: 147.69 72.22% 92.94%;

    --green-alpha-24: 148.15 72.32% 43.92% / 24%;
    --green-alpha-16: 148.15 72.32% 43.92% / 16%;
    --green-alpha-10: 148.15 72.32% 43.92% / 10%;

    --yellow-950: 42.16 60.66% 23.92%;
    --yellow-900: 41.71 64.42% 31.96%;
    --yellow-800: 42 63.73% 40%;
    --yellow-700: 42.04 64.08% 48.04%;
    --yellow-600: 41.85 80.39% 50%;
    --yellow-500: 41.94 92.31% 54.12%;
    --yellow-400: 42.12 100% 70.39%;
    --yellow-300: 42.12 100% 79.61%;
    --yellow-200: 41.9 100% 87.65%;
    --yellow-100: 41.18 100% 90%;
    --yellow-50: 43.9 100% 91.96%;

    --yellow-alpha-24: 41.93 95.65% 63.92% / 24%;
    --yellow-alpha-16: 41.93 95.65% 63.92% / 16%;
    --yellow-alpha-10: 41.93 95.65% 63.92% / 10%;

    --purple-950: 257.8 63.64% 28.04%;
    --purple-900: 258.29 64.42% 31.96%;
    --purple-800: 258 63.73% 40%;
    --purple-700: 257.96 64.08% 48.04%;
    --purple-600: 255.93 72.32% 56.08%;
    --purple-500: 255.93 88.04% 63.92%;
    --purple-400: 252.18 88.08% 70.39%;
    --purple-300: 249.81 100% 79.61%;
    --purple-200: 249.52 100% 87.65%;
    --purple-100: 250 100% 91.76%;
    --purple-50: 252 100% 96.08%;

    --purple-alpha-24: 255.93 83.51% 61.96% / 24%;
    --purple-alpha-16: 255.93 83.51% 61.96% / 16%;
    --purple-alpha-10: 255.93 83.51% 61.96% / 10%;

    --sky-950: 200.23 70.49% 23.92%;
    --sky-900: 199.83 70.55% 31.96%;
    --sky-800: 199.86 69.61% 40%;
    --sky-700: 200 69.8% 48.04%;
    --sky-600: 200 80.36% 56.08%;
    --sky-500: 199.89 100% 63.92%;
    --sky-400: 199.87 100% 70.39%;
    --sky-300: 200.19 100% 79.61%;
    --sky-200: 200 100% 87.65%;
    --sky-100: 200 100% 91.76%;
    --sky-50: 201 100% 96.08%;

    --sky-alpha-24: 199.89 100% 63.92% / 24%;
    --sky-alpha-16: 199.89 100% 63.92% / 16%;
    --sky-alpha-10: 199.89 100% 63.92% / 10%;

    --pink-950: 330 70.49% 23.92%;
    --pink-900: 329.74 70.55% 31.96%;
    --pink-800: 330 69.61% 40%;
    --pink-700: 330.18 69.8% 48.04%;
    --pink-600: 330 80.36% 56.08%;
    --pink-500: 330 95.65% 63.92%;
    --pink-400: 330.2 100% 70.39%;
    --pink-300: 330 100% 79.61%;
    --pink-200: 330.48 100% 87.65%;
    --pink-100: 330 100% 91.76%;
    --pink-50: 333 100% 96.08%;

    --pink-alpha-24: 330 95.65% 63.92% / 24%;
    --pink-alpha-16: 330 95.65% 63.92% / 16%;
    --pink-alpha-10: 330 95.65% 63.92% / 10%;

    --teal-950: 171.86 72.84% 15.88%;
    --teal-900: 172.31 63.93% 23.92%;
    --teal-800: 172.09 63.64% 28.04%;
    --teal-700: 172.31 71.78% 31.96%;
    --teal-600: 172.19 71.57% 40%;
    --teal-500: 171.86 72.24% 48.04%;
    --teal-400: 172.08 70.67% 55.88%;
    --teal-300: 171.84 72.03% 71.96%;
    --teal-200: 171.76 71.83% 86.08%;
    --teal-100: 171.63 84.31% 90%;
    --teal-50: 172.17 74.19% 93.92%;

    --teal-alpha-24: 171.86 72.24% 48.04% / 24%;
    --teal-alpha-16: 171.86 72.24% 48.04% / 16%;
    --teal-alpha-10: 171.86 72.24% 48.04% / 10%;

    --white-alpha-24: 0 0% 100% / 24%;
    --white-alpha-16: 0 0% 100% / 16%;
    --white-alpha-10: 0 0% 100% / 10%;

    --black-alpha-24: 0 0% 0% / 24%;
    --black-alpha-16: 0 0% 0% / 16%;
    --black-alpha-10: 0 0% 0% / 10%;

    --overlay-gray: 0 0% 20% / 24%;
    --overlay-slate: 221.25 15.69% 20% / 24%;

    --overlay: var(--overlay-gray);

    --social-apple: 0 0% 0%;
    --social-twitter: 0 0% 0.39%;
    --social-github: 212.73 13.25% 16.27%;
    --social-notion: 210 11.76% 13.33%;
    --social-tidal: 0 0% 0%;
    --social-amazon: 210 14.52% 24.31%;
    --social-zendesk: 46.67 25.71% 6.86%;

    --primary-dark: var(--sky-800);
    --primary-darker: var(--sky-700);
    --primary-base: var(--sky-500);
    --primary-alpha-24: var(--sky-alpha-24);
    --primary-alpha-16: var(--sky-alpha-16);
    --primary-alpha-10: var(--sky-alpha-10);

    --static-black: var(--neutral-950);
    --static-white: var(--neutral-0);

    --bg-strong-950: var(--neutral-950);
    --bg-surface-800: var(--neutral-800);
    --bg-sub-300: var(--neutral-300);
    --bg-soft-200: var(--neutral-200);
    --bg-weak-50: var(--neutral-50);
    --bg-white-0: var(--neutral-0);

    --text-strong-950: var(--neutral-950);
    --text-sub-600: var(--neutral-600);
    --text-soft-400: var(--neutral-400);
    --text-disabled-300: var(--neutral-300);
    --text-white-0: var(--neutral-0);

    --stroke-strong-950: var(--neutral-950);
    --stroke-sub-300: var(--neutral-300);
    --stroke-soft-200: var(--neutral-200);
    --stroke-white-0: var(--neutral-0);

    --faded-dark: var(--neutral-800);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-200);
    --faded-lighter: var(--neutral-100);

    --information-dark: var(--blue-950);
    --information-base: var(--blue-500);
    --information-light: var(--blue-200);
    --information-lighter: var(--blue-50);

    --warning-dark: var(--orange-950);
    --warning-base: var(--orange-500);
    --warning-light: var(--orange-200);
    --warning-lighter: var(--orange-50);

    --error-dark: var(--red-950);
    --error-base: var(--red-500);
    --error-light: var(--red-200);
    --error-lighter: var(--red-50);

    --success-dark: var(--green-950);
    --success-base: var(--green-500);
    --success-light: var(--green-200);
    --success-lighter: var(--green-50);

    --away-dark: var(--yellow-950);
    --away-base: var(--yellow-500);
    --away-light: var(--yellow-200);
    --away-lighter: var(--yellow-50);

    --feature-dark: var(--purple-950);
    --feature-base: var(--purple-500);
    --feature-light: var(--purple-200);
    --feature-lighter: var(--purple-50);

    --verified-dark: var(--sky-950);
    --verified-base: var(--sky-500);
    --verified-light: var(--sky-200);
    --verified-lighter: var(--sky-50);

    --highlighted-dark: var(--pink-950);
    --highlighted-base: var(--pink-500);
    --highlighted-light: var(--pink-200);
    --highlighted-lighter: var(--pink-50);

    --stable-dark: var(--teal-950);
    --stable-base: var(--teal-500);
    --stable-light: var(--teal-200);
    --stable-lighter: var(--teal-50);


    /* shadcn variables */
    --background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 217 59.8% 60%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
  }
    
  .dark {
    --bg-strong-950: var(--neutral-0);
    --bg-surface-800: var(--neutral-200);
    --bg-sub-300: var(--neutral-600);
    --bg-soft-200: var(--neutral-700);
    --bg-weak-50: var(--neutral-900);
    --bg-white-0: var(--neutral-950);

    --text-strong-950: var(--neutral-0);
    --text-sub-600: var(--neutral-400);
    --text-soft-400: var(--neutral-500);
    --text-disabled-300: var(--neutral-600);
    --text-white-0: var(--neutral-950);

    --stroke-strong-950: var(--neutral-0);
    --stroke-sub-300: var(--neutral-600);
    --stroke-soft-200: var(--neutral-700);
    --stroke-white-0: var(--neutral-950);

    --faded-dark: var(--neutral-300);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-alpha-24);
    --faded-lighter: var(--neutral-alpha-16);

    --information-dark: var(--blue-400);
    --information-base: var(--blue-500);
    --information-light: var(--blue-alpha-24);
    --information-lighter: var(--blue-alpha-16);

    --warning-dark: var(--orange-400);
    --warning-base: var(--orange-600);
    --warning-light: var(--orange-alpha-24);
    --warning-lighter: var(--orange-alpha-16);

    --error-dark: var(--red-400);
    --error-base: var(--red-600);
    --error-light: var(--red-alpha-24);
    --error-lighter: var(--red-alpha-16);

    --success-dark: var(--green-400);
    --success-base: var(--green-600);
    --success-light: var(--green-alpha-24);
    --success-lighter: var(--green-alpha-16);

    --away-dark: var(--yellow-400);
    --away-base: var(--yellow-600);
    --away-light: var(--yellow-alpha-24);
    --away-lighter: var(--yellow-alpha-16);

    --feature-dark: var(--purple-400);
    --feature-base: var(--purple-500);
    --feature-light: var(--purple-alpha-24);
    --feature-lighter: var(--purple-alpha-16);

    --verified-dark: var(--sky-400);
    --verified-base: var(--sky-600);
    --verified-light: var(--sky-alpha-24);
    --verified-lighter: var(--sky-alpha-16);

    --highlighted-dark: var(--pink-400);
    --highlighted-base: var(--pink-600);
    --highlighted-light: var(--pink-alpha-24);
    --highlighted-lighter: var(--pink-alpha-16);

    --stable-dark: var(--teal-400);
    --stable-base: var(--teal-600);
    --stable-light: var(--teal-alpha-24);
    --stable-lighter: var(--teal-alpha-16);

    --overlay-gray: 0 0% 20% / 56%;
    --overlay-slate: 221.25 15.69% 20% / 56%;
    
    --overlay: var(--overlay-gray);
    
    --social-apple: 0 0% 100%;
    --social-twitter: 0 0% 100%;
    --social-github: 0 0% 100%;
    --social-notion: 0 0% 100%;
    --social-tidal: 0 0% 100%;
    --social-amazon: 0 0% 100%;
    --social-zendesk: 0 0% 100%;


    /* shadcn variables */
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 217 59.8% 60%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  }
  /*#endregion Colors */
}
  
/* custom scale for Remix Icon */
.remixicon path {
  transform: scale(0.8996);
  transform-origin: center;
}
