@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark * {
  @apply border-foreground/15;
}
*/

#nd-docs-layout,
#nd-sidebar {
	@apply !bg-secondary;
}

#nd-sidebar > div {
	@apply !border-none;
}

.light {
	--fd-primary: 200 69.8% 48%;
}

.dark {
	--fd-primary: 200 100% 63.9%;
}
