/* Base card styles */
.kf-card {
	/* Layout */
	border-radius: var(--kf-card-radius);
	border: 1px solid var(--kf-card-border-color);
	background-color: var(--kf-card-bg-color);

  	/* Card Colors */
	--kf-card-border-color: hsl(0, 0%, 92.16%);
	--kf-card-bg-color: hsl(0, 0%, 100%);
	--kf-card-text-color: hsl(0, 0%, 9.02%);
	--kf-card-text-muted-color: hsl(0, 0%, 36.08%);

	/* Card Layout */
	--kf-card-padding: 1.5rem;
	--kf-card-radius: 1.25rem;
	--kf-card-gap: 0.375rem;

	/* Typography */
	--kf-card-title-size: 0.875rem;
	--kf-card-title-line-height: 1.25;
	--kf-card-title-tracking: -0.006em;
	--kf-card-title-weight: 600;
}

.dark .kf-card {
	/* Dark Mode Card Colors */
	--kf-card-border-color: hsl(0, 0%, 20%);
	--kf-card-bg-color: hsl(0, 0%, 10%);
	--kf-card-text-color: hsl(0, 0%, 90%);
	--kf-card-text-muted-color: hsl(0, 0%, 60%);
}

.kf-card-header {
	display: flex;
	flex-direction: column;
	gap: var(--kf-card-gap);
	padding: var(--kf-card-padding);
}

.kf-card-title {
	font-size: var(--kf-card-title-size);
	line-height: var(--kf-card-title-line-height);
	letter-spacing: var(--kf-card-title-tracking);
	font-weight: var(--kf-card-title-weight);
	color: var(--kf-card-text-color);
}

.kf-card-description {
	color: var(--kf-card-text-muted-color);
}

.kf-card-content {
	padding: 0 var(--kf-card-padding);
	padding-bottom: var(--kf-card-padding);
}

.kf-card-footer {
	display: flex;
	align-items: center;
	padding: 0 var(--kf-card-padding);
	padding-bottom: var(--kf-card-padding);
}
