/* Base switch variables */
.kf-switch {

  /* css reset */
   font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	white-space: nowrap;
	outline: none;
  border: 0;
  background: none;
	/* Layout variables */
	--kf-switch-height: 1.25rem;
	--kf-switch-width: 2rem;
	--kf-switch-padding: 0.125rem;
	--kf-switch-duration: 200ms;
	--kf-switch-ease: cubic-bezier(0.4, 0, 0.2, 1);

	/* Thumb sizes */
	--kf-switch-thumb-size: 0.75rem;
	--kf-switch-thumb-size-disabled: 0.625rem;
	--kf-switch-thumb-translate: 0.75rem;

	/* Default HSL values */
	--kf-switch-bg-default: hsl(0, 0%, 92%);
	--kf-switch-bg-hover: hsl(0, 0%, 82%);
	--kf-switch-bg-checked: hsl(227.94, 100%, 60%);
	--kf-switch-bg-checked-hover: hsl(228.07, 69.8%, 48.04%);
	--kf-switch-bg-disabled: hsl(0, 0%, 100%);
	--kf-switch-thumb-bg: hsl(0, 0%, 100%);
	--kf-switch-thumb-disabled: hsl(0, 0%, 96.86%);
}

.dark .kf-switch {
	/* Colors for dark mode */
	--kf-switch-bg-default: hsl(0, 0%, 20%);
	--kf-switch-bg-hover: hsl(0, 0%, 16.08%);
	--kf-switch-bg-checked: hsl(227.94, 100%, 60%);
	--kf-switch-bg-checked-hover: hsl(228.07, 69.8%, 48.04%);
	--kf-switch-bg-disabled: hsl(0, 0%, 9.02%);
	--kf-switch-thumb-bg: hsl(0, 0%, 100%);
	--kf-switch-thumb-disabled: hsl(0, 0%, 20%);
}

/* Root switch wrapper */
.kf-switch-root {
	display: block;
	height: var(--kf-switch-height);
	width: var(--kf-switch-width);
	flex-shrink: 0;
	padding: var(--kf-switch-padding);
	outline: none;
}

/* Switch track */
.kf-switch-track {
	position: relative;
	height: calc(var(--kf-switch-height) * var(--kf-switch-padding));
	width: calc(var(--kf-switch-width) * var(--kf-switch-padding));
	border-radius: 9999px;
	padding: var(--kf-switch-padding);
	background-color: var(--kf-switch-bg-default);
	outline: none;
	transition: all var(--kf-switch-duration) var(--kf-switch-ease);
}

/* Track states */
.kf-switch-track:hover {
	background-color: var(--kf-switch-bg-hover);
}

.kf-switch-track:focus-visible {
	background-color: var(--kf-switch-bg-hover);
}

.kf-switch-track:active {
	background-color: var(--kf-switch-bg-default);
}

.kf-switch-root[data-state="checked"] .kf-switch-track {
	background-color: var(--kf-switch-bg-checked);
}

.kf-switch-root[data-state="checked"]:hover .kf-switch-track {
	background-color: var(--kf-switch-bg-checked-hover);
}

/* Disabled states */
.kf-switch-root[data-disabled] {
	cursor: not-allowed;
}

.kf-switch-root[data-disabled] .kf-switch-track {
	background-color: var(--kf-switch-bg-disabled);
	opacity: 0.4;
	box-shadow: inset 0 0 0 1px hsl(0, 0%, 92.16%);
}

.kf-switch-root[data-disabled][data-state="checked"] .kf-switch-track {
	background-color: var(--kf-switch-bg-checked);
	opacity: 0.4;
	box-shadow: none;
}

/* Switch thumb */
.kf-switch-thumb {
	position: relative;
	display: block;
	pointer-events: none;
	width: var(--kf-switch-thumb-size);
	height: var(--kf-switch-thumb-size);
	transition: transform var(--kf-switch-duration) var(--kf-switch-ease);
	transform: translateX(0);
}

/* Thumb states */
.kf-switch-thumb::before {
	content: "";
	position: absolute;
	inset-block: 0;
	left: 0;
	width: 100%;
	border-radius: 9999px;
	background-color: var(--kf-switch-thumb-bg);
	mask: radial-gradient(
			circle farthest-side at 50% 50%,
			#0000 1.95px,
			#000 2.05px 100%
		)
		50% 50% / 100% 100% no-repeat;
}

.kf-switch-thumb::after {
	content: "";
	position: absolute;
	inset-block: 0;
	left: 0;
	width: 100%;
	border-radius: 9999px;
	box-shadow: var(--kf-shadow-switch-thumb);
}

.kf-switch-root[data-state="checked"] .kf-switch-thumb {
	transform: translateX(var(--kf-switch-thumb-translate));
}

.kf-switch-track:active .kf-switch-thumb {
	transform: scale(0.833);
}

/* Disabled thumb */
.kf-switch-root[data-disabled] .kf-switch-thumb {
	box-shadow: none;
}

.kf-switch-root[data-disabled][data-state="checked"] .kf-switch-thumb {
	transform: translateX(var(--kf-switch-thumb-translate));
}
